list

list adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variable yang sering digunakan pada phyton. serupa, namun tidak sama dengan array pada bahassa pemograman lainnya. bedanya, elemen list pada phyton tidak harus memiliki tipe data yang sama. list cukup mudah digunakan yaitu dengan menggunakan kurung siku dan elemen yang dipisahkan dengan koma.

setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0

In [ ]:
#contoh list
L1 = [1,4,2,13]
print(type(L1))

<class 'list'>

In [ ]:
# menggunakan tipe data yang sama
L1 = [1,4,2,13]
L1

[1, 4, 2, 13]

In [ ]:
# menggunakan tipe data yang berbeda
L2 = ["a", "phyton", 3, 2+1]
L2

['a', 'phyton', 3, 3]

In [ ]:
#Terurut atau ordered
print("memanggil list L1 dengan indeks urutan :", L1[0:3])
#bisa diganti/mutable
L1[1] = 2
print("List L1 setelah diganti elemenya: ",L1)

L1 = [1, "dua", True, 2+3j]

#Dapat diindeks/slicing
print("slicing list L1 :", L1[3])

#Dapat dijadikan duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada list L1:", L1)

#dapat mengubah data dengan mengganti elemen tertentu
L1=[1, "dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah: ", L1)

#dapat menambah elemen baru pada data
L1=[1, "dua", True, 2+3j]
L1.append(20)
print("data setelah ditambahkan elemenya: ", L1)

#dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1=[1, "dua", True, 2+3j]
L1.remove(2+3j)
print("data setelah dihapus elemennya: ", L1)

memanggil list L1 dengan indeks urutan : [1, 4, 2]
List L1 setelah diganti elemenya:  [1, 2, 2, 13]
slicing list L1 : (2+3j)
Duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah:  [1, 'dua', 3, (2+3j)]
data setelah ditambahkan elemenya:  [1, 'dua', True, (2+3j), 20]
data setelah dihapus elemennya:  [1, 'dua', True]

In [ ]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)
L1=[1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [ ]:
L1=[1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [ ]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu )
L1=[1, "dua", True, 2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

Latihan 1

In [1]:
#buatlah list kalian sendiri
L3 = [2, 4+8j, True,"psds"]
print(type(L3))

<class 'list'>

In [2]:
print(L3)

[2, (4+8j), True, 'psds']

Latihan 2

In [3]:
#ganti elemen yang ada pada list yang kalian buat
L3 = [2, 4+8j, True,"psds"]
L3[3]=False
print("data setelah diubah: ", L3)

data setelah diubah:  [2, (4+8j), True, False]

**Srtuktur data Tuple**
Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebuh cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1=(1,"dua", True, 1+2)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, 3)

In [ ]:
T11=1,"dua", True, 1+2
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, 3)

In [ ]:
#menampilkan tipe struktur data
type(T1)

tuple

In [ ]:
type(T11)

tuple

**sifat sifat tuple**

In [ ]:
#terurut/ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti
T1[2]="manusia"

TypeError: ignored

In [ ]:
#dapat diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [8]:
#dapat Diijinkan Duplikasi
T2=(3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#tidak dapat menambahkan elemen baru
T1 =(1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [4]:
T.append(10)
T.append(10)
print(f' tuple\t: {T1}')

NameError: ignored

In [5]:
#tidak dapat menghapus elemen
T1=(1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [6]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

**menggabungkan tuple**

In [9]:
#menggabungkan tuple
T3 =T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

latihan 1

In [11]:
#buatlah tuplemu sendiri
T4 = (5, 4+20j, False,"psds")
T4

(5, (4+20j), False, 'psds')

latihan 2

In [ ]:
#buatlah tuple kedua dan gabungkan 2 tuple yang telah kamu buat

In [12]:
T5=T2 = (7, 7+10j, True,"google")
T5

(7, (7+10j), True, 'google')

In [13]:
T6=T4+T5
T6

(5, (4+20j), False, 'psds', 7, (7+10j), True, 'google')